/* color variables  */
:root {
    --prime-color: #64B5AC;
    --dark-color: #000000;
    --light-color: #fffffc;
    --complement-color: #05649E;
    --special-color: #FA824C;
}

/* global */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
}

button{
    background-color: var(--special-color) !important;
    color: var(--dark-color) !important;
}

/* header */

header {
    height: 8vh ;
    width: 100vw;
    justify-content: space-between !important;
    background-color: var(--dark-color);
}

header img{
    height: 100%;
    width: auto;
    padding: 0 1.5rem;
}

header li{
    list-style-type: none;
    padding: 0 1.5rem;
}

.nav-bar{
    color: var(--light-color);
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: var(--special-color);
}

@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
    .burger-menu{
        display:flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-bar{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 25vh;
        width: 50%;
        background-color: var(--dark-color);
        flex-direction: column !important;
        justify-content: space-around !important;
        transform: translateX(100%);
        transition: all .5s ease-out;
    }
    .menu-btn{
        display: flex !important;
    }
}

.nav-active{
    transform: translateX(0%);
    transition: all .5s ease-in-out;
    opacity: 0.9;
}

.burger-menu{
    display: none;
    height: 100%;
    cursor: pointer;
    padding: 0 1.5rem;
}

/* hamburger menu  */

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: var(--light-color);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: var(--light-color) !important;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}
  /* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* hero section */
#hero-section{
    height: fit-content;
    min-height: 305px;
    width: 100vw;
    background-color: var(--prime-color);
    color: var(--light-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    align-items: center;
    justify-items: center;
}

#hero-section span{
    color: var(--dark-color);
}

.hero-img{
    width: 100%;
    max-width: 450px;
}

.hero-text{
    height: 100%;
    align-items: flex-start !important;
    justify-content: space-around !important;
    font-size: clamp(18px, 3vw, 30px);
}

#hero-section button{
    font-size: clamp(22px, 5vw, 34px);
    font-weight: bolder;
}

@media (max-width:600px) {
    .hero-img{
        display: none !important;
    }
    #hero-section{
        grid-template-columns: 1fr;
    }
}